/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************/

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: helvetica;
  color: #ede7f6;
  background: #aa66cc;
}

.l-wrap {
  -webkit-box-shadow: 2px 0px 22px 5px rgba(153,51,204,1);
  -moz-box-shadow: 2px 0px 22px 5px rgba(153,51,204,1);
  box-shadow: 2px 0px 22px 5px rgba(153,51,204,1);
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  color: #6a1b9a;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 20px;
  padding-bottom: 55px;

}

.col-1 {
  width: 100%;
  background: #ede7f6;
  text-align: center;
}

.squares-container {
  padding-bottom: 62px;
}

.col-2 {
  width: 100%;
  /*height: px;*/
  background: #6a1b9a;
  padding-bottom: 10px;

}

.square {
display: inline-block;
padding: 10px;
border-radius: 10%;
background: #9933CC;
-webkit-box-shadow: 13px 10px 10px -6px rgba(189,189,189,1);
-moz-box-shadow: 13px 10px 10px -6px rgba(189,189,189,1);
box-shadow: 13px 10px 10px -6px rgba(189,189,189,1);
}

.margin-left {
  margin-left: 5px;
}

.letter {
  font-size: 1.2em;
/*visibility: hidden;*/
}

.info {
  padding-top: 20px;
  text-align: center;
  /*margin-left: 15px;*/
  font-size: 1.8em;
}

.letter-input {
  text-align: center;
  padding-top: 50px;

}

label {
  font-size: 1em;
  display: block;
  margin-bottom: 13px;
}

input[type='text'] {
  font-size: 2em;
  color: #6a1b9a;
  width: 2em;
  text-align: center;
  border-radius: 10%;
  border-style: none;
  background: #ede7f6;
  -webkit-box-shadow: -3px 9px 12px -2px rgba(74,20,140,0.59);
  -moz-box-shadow: -3px 9px 12px -2px rgba(74,20,140,0.59);
  box-shadow: -3px 9px 12px -2px rgba(74,20,140,0.59);
}

input[type="text"]:focus {
  outline: none;
}

button {
  display: block;
  margin: 15px auto 0 auto;
  width: 80px;
  border-radius: 5%;
  border-style: none;
  padding: 8px;
  background: #ba68c8;
  color: #4a148c;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.2em;
  -webkit-box-shadow: 10px 9px 12px -2px rgba(74,20,140,0.59);
  -moz-box-shadow: 10px 9px 12px -2px rgba(74,20,140,0.59);
  box-shadow: 10px 9px 12px -2px rgba(74,20,140,0.59);
}

button:focus {
  outline: none;
}

p {
  text-align: center;
  margin-top: 50px;
}

#hint {
  text-decoration: underline;
}

/*ADD CLASS TO HTML FOR MOBILE PHONES TO DISABLE*/
#hint:hover {
  color: #ba68c8;
}

#hint:active {
 color: #ede7f6;
}
